/** @mainpage Qore uuid Module

    @tableofcontents

    @section uuidintro Introduction to the uuid Module

    The uuid module provides <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier">UUID</a> functionality
    to Qore, allowing qore programs to generate and manipulate UUIDs.

    This module is released under the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</a>
    and is tagged as such in the module's header (meaning it can be loaded
    unconditionally regardless of how the Qore library was initialized).

    Like all Qore components, the uuid module is thread-safe.

    The underlying %UUID functionality is provided by any number of supported %UUID libraries, whichever was used at build time.

    @section Example

    The most common usage will be simply to generate a %UUID string:
    @code
%requires uuid
%new-style
string uuid = UUID::get();
    @endcode

    @section uuid_class UUID class

    See the Qore::UUID::UUID class for information about further %UUID-related functionality in this module.

    @section uuidreleasenotes Release Notes

    @subsection uuid_v_1_4 Version 1.4

    - updated to build with the latest %Qore APIs

    @subsection uuid_v_1_3 Version 1.3

    - minor build and packaging fixes

    @subsection uuid_v_1_2 Version 1.2

    - took the following steps to ensure consistent behavior on all platforms:
      - modified the default output (without any flags) to always be a string with lower-case hex digit letters
      - updated implementation to manage case even if the uuid library does not support the uuid_unparse_lower() and uuid_unparse_upper() functions
    - added support for building the module on Windows and with the OSSP UUID library
    - note that UUID generation flags are ignored on Windows

    @subsection uuid_v_1_1 Version 1.1

    - added the following static method allowing a string UUID to be returned immediately without creating an object:
      - static @ref Qore::UUID::UUID::get(int, int) "UUID::get()"
    - minor corrections were made in the documentation

    @subsection uuid_v_1_0 Version 1.0

    - Initial release of the uuid module
    - Requires qore 0.8.0+ to build and run


*/
